@model List<SchoolManagement.Models.Assignment>

@{
    ViewBag.Title = "Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Assignments</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped verticle-middle">
                    <thead>
                        <tr>
                            <th scope="col">Ref No</th>
                            <th scope="col">Assignment</th>
                            <th scope="col">Assignment Type</th>
                            <th scope="col">Submission Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assignment in Model)
                        {
                            <tr>
                                <td>@assignment.AssignmentId</td>
                                <td>@assignment.AssignmentName</td>
                                <td>@assignment.AssignmentType</td>
                                <td>@assignment.SubmissionDate.ToString("MMM dd, yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
